<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header>
    <!-- Regresar -->
    <div class="">
      <div class="container-flex-columns text-center">
        <a href="sing.html" type="submit" id="code" class="btn btn-return down waves-effect waves-light btn card-trigger waves-effect">Regresar</a>
      </div>
    </div>
    <!-- Formulario card -->
    <div id="card" class="card center">
      <div class="card-content">
        <span class="card-title center">Sing Up</span>
        <p class="center">Join now for free ride credit</p>
        <hr>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <div class="codigo" id="codigo"></div>
                <button onclick="generator()">Tu código:</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Next -->
        <div class="card-footer">
          <div class="container-flex-columns text-center">
            <a href="verify.html" type="submit" id="code" class="btn btn-login down waves-effect waves-light btn card-trigger waves-effect">Next</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <h5 class="center"></h5>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>