<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <header>
    <header class="main">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Agenda</a>
        <ul id="nav-mobile" class="center hide-on-med-and-down">
          <li>
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">
              <i class="material-icons center">add</i>
            </a>
          </li>
          <li>
            <a class="waves-effect waves-light btn">
              <i class="material-icons center">search</i>
            </a>
          </li>
          <li>Jquery</li>
        </ul>
      </div>
    </nav>
    </header>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
    
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Agregar contacto (Miau)</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="contact-name" type="text" class="validate">
              <label for="contact-name">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="contact-phone" type="tel" class="validate">
              <label for="contact-phone">Telephone</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <!-- esto hace que lleve a otro modal -->
        <a class="waves-effect waves-light btn modal-trigger modal-close waves-effect" href="#modal2">Next</a> 
        <!-- este es mi enviar normal -->
      <!-- <a id="add-contact" class="modal-close waves-effect waves-green btn left">Listo</a> -->
      
    </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Agregar contacto (Miau)</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="me" type="text" class="validate">
              <label for="me">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="mei" type="tel" class="validate">
              <label for="mei">Telephone</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
        <a id="add-contact" class="modal-close waves-effect waves-green btn left">Listo</a>
      
    </div>
    </div>
    
    <main>
    <h5 class="center">Total contactos: 0</h5>
    <!-- Tarjeta -->
    <!-- <div class="row">
      <div class="col offset-s3 s6">
        <div class="card">
          <div class="card-content orange lighten-3">
            <h3>Nombre</h3>
            <span>22 22 22 22</span>
            <a class="waves-effect waves-light btn right">
              <i class="material-icons">delete</i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
    </main>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../js/sing.js"></script>
</body>

</html>