<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- Opciones de inicio -->
  </header>
  <div class="row">
    <div class="col s4">
    </div>
    <div class="col s4">
        <img class="col s12" id="lyfttransparent" src="../css/images/lyftlifetransparent.png" alt="">
    </div>
    <div class="col s4">
    </div>
      
  </div>
  
  <div class="row">
  <div class="col s12">
    <div class="col s6 container-flex-columns text-center div-code center">
      <a href="login.html" type="submit" id="login" class="btn btn-login down">Login in</a>
    </div>
    <div class="col s6 container-flex-columns text-center div-code center">
      <a href="sing.html" type="submit" id="sing" class="btn btn-sing down">Sing up</a>
    </div>
  </div>
</div>
  </header>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../js/inicio.js"></script>
</body>

</html>